/* CSS declarations go here */
h1 {
    font-size: 1.5em;
    margin-top: 2em;
}

ul {
    list-style-type: none;    
}

.delete {
    background: none;
    font-size: 1.5em;
    border: none;
}

.postInputs {
    float: right;
    font-size: 0.75em;    
}

.imageButton {
    width: 1.5em;
}