/* CSS declarations go here */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 1.5em;
    margin-top: 2em;
}

ul {
    list-style-type: none;    
}

.delete {
    background: none;
    font-size: 1.5em;
    border: none;
}

.postInputs {
    float: right;
    font-size: 0.75em;    
}