.postTitle {
    cursor: pointer;
}

.gray {
    color: gray;
}

h1 {
    display: inline-block;
}

.loginForm {
    float: right;
}

.modal-vertical-centered {
  transform: translate(0, 80%) !important;
  -ms-transform: translate(0, 80%) !important; /* IE 9 */
  -webkit-transform: translate(0, 80%) !important; /* Safari and Chrome */
}
